$color: #17324f;
$color--hover: saturate( $color, 10% );
$color--active: darken( $color, 10% );

$colorSec: #ef524a;
$colorSec--hover: saturate( $colorSec, 10% );
$colorSec--active: darken( $colorSec, 10% );

$color3: #ef524a;
$color3--hover: saturate( $color3, 10% );
$color3--active: darken( $color3, 10% );