$primary: #17324f;
$primary--hover: saturate( $primary, 10% );
$primary--active: darken( $primary, 10% );

$secondary: #ef524a;
$secondary--hover: saturate( $secondary, 10% );
$secondary--active: darken( $secondary, 10% );
