@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@layer components {
  .btn {
    @apply cursor-pointer gap-2 py-2 px-4 flex justify-center items-center bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg;
  }

  .btn-icon {
    @apply transition ease-in duration-200 flex justify-center items-center rounded-full p-0 w-8 h-8 bg-white shadow-none hover:shadow-md hover:bg-blue-100 text-blue-400;
  }

  .box {
    @apply bg-white rounded-lg shadow-md overflow-hidden;
  }

  .input-text {
    @apply rounded-lg shadow-sm outline-none appearance-none border w-full py-2 px-3 text-gray-700 leading-tight;
  }


}

@layer base {
  body {
    @apply bg-blue-50 text-blue;
    @apply text-xl;
  }
  h1 {
    @apply text-6xl;
    @apply font-bold italic;
  }
  h2 {
    @apply text-4xl italic;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl italic;
    @apply font-bold;
  }
}

.svg-inline--fa {
  width: 1.3rem;
  height: 1.3rem;
}



.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
