@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

@import './markdown.scss';

@layer components {
  .paddingscreen {
    @apply px-4 sm:px-8 md:px-16;
  }

  .btn {
    @apply flex cursor-pointer items-center justify-center gap-2 rounded-lg bg-red-600 py-2 px-4 text-center text-base font-semibold text-white shadow-md transition duration-200 ease-in hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-red-200;
  }

  .btn-icon {
    @apply flex h-8 w-8 items-center justify-center rounded-full bg-white p-0 text-blue-400 shadow-none transition duration-200 ease-in hover:bg-blue-100 hover:shadow-md;
  }

  .box {
    @apply overflow-hidden rounded-lg bg-white shadow-md;
  }

  .input-text {
    @apply w-full appearance-none rounded-lg border py-2 px-3 leading-tight text-gray-700 shadow-sm outline-none;
  }
}

@layer base {
  body {
    @apply bg-blue-50 text-blue;
    @apply text-xl;
  }
  h1 {
    @apply text-6xl;
    @apply font-bold;
  }
  h2 {
    @apply text-4xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
}

.svg-inline--fa {
  width: 1.3rem;
  height: 1.3rem;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
